<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="de.tmaximini.ionicgulpseed" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>IonicGulpSeed</name>
  <description>
        A blank seed project for rapid development of Ionic projects through gulp workflows
    </description>
  <author email="tmaximini@gmail.com" href="http://thomasmaximini.com/">
      Thomas Maximini
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>